<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" conent="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles2.css">
  <script src="index.js" type="text/javascript" charset="utf-8"></script>
  <title>Resume Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="header">
    <div class="navbar">
      <div class="logo">
        <a href="#">Lamar McCloud</a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Resume</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class= "contact-info">
        <ul>
          <li><a href="#" class="phone-no">+19738685614</a></li>
          <li><a href="#" class="sep"></a></li>
          <li><a href="#" class="email">lamar1102@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <div class="banner">
      <div class=app-text>
        <h1><span>Welcome,</span>to my<br> World</h1>
        <div class="primary-btn">
          <div class="btn-group">
            <div class="play-btn">
              <div class="play-btn-inner">
                <i class="fa fa-play"></i>
                <span>Watch Resume</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="index.js" type="text/javascript" charset="utf-8"></script>
  <script src="page.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
